/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'IBM Plex Sans', 'Noto Sans KR', sans-serif;
  --ifm-heading-font-family: 'Source Serif 4', 'Noto Serif KR', serif;
  --ifm-color-primary: #0b6e4f;
  --ifm-color-primary-dark: #0a6447;
  --ifm-color-primary-darker: #095a40;
  --ifm-color-primary-darkest: #084734;
  --ifm-color-primary-light: #128460;
  --ifm-color-primary-lighter: #15926a;
  --ifm-color-primary-lightest: #1ba87a;
  --ifm-background-color: #f7f2ea;
  --ifm-navbar-background-color: #fff8f1;
  --ifm-footer-background-color: #f1e7db;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(11, 110, 79, 0.12);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #59d1a8;
  --ifm-color-primary-dark: #44c599;
  --ifm-color-primary-darker: #39bb90;
  --ifm-color-primary-darkest: #2a9a73;
  --ifm-color-primary-light: #6fd8b5;
  --ifm-color-primary-lighter: #7fddbf;
  --ifm-color-primary-lightest: #9be7d0;
  --ifm-background-color: #11110f;
  --ifm-navbar-background-color: #171612;
  --ifm-footer-background-color: #151410;
  --docusaurus-highlighted-code-line-bg: rgba(89, 209, 168, 0.18);
}
